body {
    background-color: #202020;
}

.error-wrap {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: #fff;
}

h1, h2 {
    margin: 10px;
    padding: 0;
    font-family: 'Montserrat';
    text-align: center;
    font-size: 4rem;
}

h1 {
    font-weight: 200;
}

h2 {
    font-weight: 100;
}

strong {
    font-weight: 200;
    color: #d218e2;
}