/*page about*/
.about-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;

  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  
}

.about-page h2 {
  font-family: 'Montserrat';
  font-weight: 200;
  text-transform: uppercase;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(117, 113, 113);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color:lightgrey;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}


.presentation{
  color: white;
  padding: 50px;
}

.legal-mentions {
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 200;
}

.legal-mentions a{
  color: rgb(226, 43, 243);
}

hr {
  width: 100%;
}