.contact-title {
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 200;
  font-size: 2.5rem;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: auto;
  text-align: center;
}


.contact-form label {
  width: 100%;
}

.contact-form input,
.contact-form button,
.contact-form textarea {
  width: 80%;
  margin: 1rem;
  box-sizing: border-box;
  height: 50px;
  padding: 10px;
  font-size: 1.1rem;
  font-family: 'Montserrat';
  font-weight: 300;
  background: #c2c2c2;
  color: #202020;
  border: none;

}

.contact-form button {
  background-color: #efefef;
}

.contact-form button:hover {
  cursor: pointer;
}

.required-fields {
  width: 100%;
}


.presentation{
 text-align: center;
 font-family: 'Montserrat';
 font-weight: 200;
 margin: 3rem 2rem;
}

.legal-mentions {
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 200;
}

.legal-mentions a{
  color: rgb(226, 43, 243);
}

hr {
  width: 100%;
}