.add-to-cart-container {
	width: 360px;
	height: 72px; ;
	/* background: #ececec; */
	position: fixed;
	right: 30px;
	bottom: 60px;
	/* display: float; */

	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

button.add-to-cart {
	width: 216px;
	height: 48px;
	background: #d218e2;
	font-size: 18px;
	line-height: 48px;
	letter-spacing: 2px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	border-radius: 24px;
	text-decoration: none;
	text-align: center;
	left: 24px;
	position: absolute;
	top: 48px;
	display: block;
	box-shadow: 0 3px 6px rgba(210, 24, 226, 0.50);
	-moz-box-shadow: 0 3px 6px rgba(210, 24, 226, 0.50);
	-webkit-box-shadow: 0 3px 6px rgba(210, 24, 226, 0.50);
	border: none;
}

button.add-to-cart:hover,
a.cart:hover {
	cursor: pointer;
}

button.add-to-cart.size {
	width: 48px;
	left: 108px;
	font-size: 0;
	color: #d218e2;
	letter-spacing: 0;
	-webkit-transition: .3s linear;
	-moz-transition: .3s linear;
	-ms-transition: .3s linear;
	-o-transition: .3s linear;
	transition: .3s linear;
}

button.add-to-cart.hover {
	-webkit-transition: .3s linear;
	-moz-transition: .3s linear;
	-ms-transition: .3s linear;
	-o-transition: .3s linear;
	transition: .3s linear;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transform-origin: 108px 24px;
	-moz-transform-origin: 108px 24px;
	-o-transform-origin: 108px 24px;
	-ms-transform-origin: 108px 24px;
	transform-origin: 108px 24px;
}

a.cart {
	width: 72px;
	height: 72px;
	-moz-border-radius: 36px;
	-webkit-border-radius: 36px;
	border-radius: 36px;
	font-size: 18px;
	text-align: center;
	color: #616161;
	text-decoration: none;
	position: absolute;
	right: 24px;
	top: 36px;
	display: block;
	background: #535558 url(http://images.vfl.ru/ii/1484930184/14435803/15757225.png
) center no-repeat;
	background-size: 36px;
	box-shadow: 0 3px 6px rgba(97, 97, 97 0.16), 0 3px 6px rgba(97, 97, 97 0.23);
	-moz-box-shadow: 0 3px 6px rgba(97, 97, 97 0.16), 0 3px 6px rgba(97, 97, 97 0.23);
	-webkit-box-shadow: 0 3px 6px rgba(97, 97, 97 0.16), 0 3px 6px rgba(97, 97, 97 0.23);
}

a.cart > span {
	width: 24px;
	height: 24px;
	font-size: 16px;
	color: #fff;
	line-height: 24px;
	position: absolute;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	display: block;
	transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: #d218e2;
	box-shadow: 0 3px 6px rgba(210, 24, 226, 0.50);
	-moz-box-shadow: 0 3px 6px rgba(210, 24, 226, 0.50);
	-webkit-box-shadow: 0 3px 6px rgba(210, 24, 226, 0.50);
}

a.cart > span.counter {
	left: 48px;
	bottom: 48px;
	-webkit-transition: .3s linear;
	-moz-transition: .3s linear;
	-ms-transition: .3s linear;
	-o-transition: .3s linear;
	transition: .3s linear;
	transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
}

@media all and (max-width: 1200px) {
	.add-to-cart-container {
		filter: drop-shadow(0 0 8px black);
		width: 360px;
		height: 72px;
		position: fixed;
		right: 30px;
		bottom: 60px;
	}
}
