body {
    background-color: #ededed;
    color: #202020;
}

.admin-container {
    margin: 2%;
    padding: 2%;
}

.small-error-success ul,
.small-error-fail ul {
    font-size: 0.9rem;
    font-weight: bold;
}

.small-error-success li,
.small-error-fail li {
    font-weight: normal;
}

.small-error-success,
.small-error-fail {
    position: relative;
    margin: 20px 0;
    display: block;
    width: 70%;
    padding: 2px;
    font-size: 0.7rem;

    border-radius: 5px;
    border: 1px solid;
}

.small-error-success {
    background-color: rgba(0, 255, 0, 0.3);
    color: rgba(0, 100, 0, 0.7);
}

.small-error-fail {
    background-color: rgba(255, 0, 0, 0.3);
    color: rgba(100, 0, 0, 0.7);
}

.flash-message-dismiss {
    position: absolute;
    right:10px;
    top:8px;
    font-size: 1.2rem;
}

.flash-message-dismiss:hover {
    cursor: pointer;
}





/*INPUT*/

.input-title-style {
    width: 50%;
    font-family: 'Montserrat Light';
    font-size: 1.5rem;
    background: #ededed;
    border: none;
    border-bottom: 1px solid #404040;
}

.admin-title-style,
.admin-subtitle-style {
    text-transform: uppercase;
    font-family: 'Montserrat Light';
    font-weight: 500;
}
.admin-title-style {
    font-size: 2rem;
    text-align: center;

    
}

.admin-subtitle-style {
    font-size: 1.3rem;

}

.admin-blog {
    padding: 10px;
}

.admin-button-style {
    padding: 10px;
    border: 1px solid #404040;
    background-color: #ededed;
}

.admin-button-style:hover {
    cursor: pointer;
    background-color: #404040;
    color: #ededed;
}


.collection-modal {
    display: none;

    position: fixed;
    top:15vh;
    bottom: 10vh;
    left: 10vw;
    right: 10vw;
    padding: 20px;
    background: #ededed;
    box-shadow: 0 0 20px #404040;
    border-radius: 5px;
    z-index: 1000000;
}

.collection-modal-cat-mozaic {
    display: flex;
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
}

.collection-modal-cat-thumb {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.collection-modal-cat-thumb img {
    width: 100%;
}

.collection-modal-cat-thumb form {
    margin-top: 10px;
    width: 50%;
    text-align: center;
}
.collection-modal-cat-fav,
.collection-modal-cat-trash {
    font-size: 1.2rem;
}
.collection-modal-cat-fav:hover {
    color: rgb(195, 197, 62);
}

.collection-modal-cat-trash:hover {
    color: red; 
}

.collection-modal-cat-thumb i:hover {
    cursor: pointer;
}

.is-thumb-selected-TRUE {
    border: 3px solid yellow;
}

.is-thumb-selected-FALSE {
    border: 3px solid #0000;
}

#show-collection-modal {
    cursor: pointer;
}

#hide-collection-modal {
    position: absolute;
    right: 15px;
    top: 13px;
    font-size: 2rem;
}

#hide-collection-modal:hover {
    cursor: pointer;
}

#show-collection-modal .fa-images {
    font-size: 1.5rem;
    margin-left: 1rem;
}