.btn-unstyle {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ededed;
    color: #202020;
}

.admin-container {
    margin: 2%;
    padding: 2%;
}

.admin-nav {
    padding-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
}

.admin-nav a {
    text-decoration: none;
    color: #202020;
    border-bottom: 1px solid #aaa;
}

.admin-nav a:hover {
    font-weight: 600;
}






/*GLOBAL STYLE*/

.input-title-style {
    width: 100%;
    font-family: 'Montserrat Light';
    font-size: 1.2rem;
    background: none;
    border: none;
    border-bottom: 1px solid #aaa;
}

.stock-input {
    width: 30%;
}

.input-title-style-textarea {
    width: 100%;
    font-family: 'Montserrat Light';
    font-size: 1.2rem;
    background: none;
    border: 1px solid #aaa;
}

.admin-title-style,
.admin-subtitle-style {
    text-transform: uppercase;
    font-family: 'Montserrat Light';
    font-weight: 500;
}

.admin-title-style {
    font-size: 2rem;
    text-align: center;

    
}

.admin-subtitle-style {
    font-size: 1.3rem;

}

.admin-blog {
    padding: 10px;
}

.admin-button-style {
    padding: 10px;
    border: 1px solid #aaa;
    background-color: #ededed00;
}

.admin-button-style:hover {
    cursor: pointer;
    background-color: #404040;
    color: #ededed;
}

.form-grouped {
    display: flex;
    justify-content: space-evenly;
}

.form-grouped div {
    display: inline-block;
    width: 40%;
}

/*DROP DOWN*/

.drop-down {
    background-color: #ededed00;
    color: #202020;
    border: 1px solid #aaa;
    font-size: 1.3rem;
}

.active,
.drop-down:hover {
    background-color: #dcdcdc;
}

.panel {
    background-color: #ededed00;
    border: 1px solid #aaa;
}

.drop-down:after {
    color: #202020;
}

.blog-list-article,
.press-list-article, 
.store-list-article {
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #aaa;
    text-align: center;
}

.blog-list-delete,
.press-list-delete,
.store-list-delete {
    width: 8%;
    text-align: center;
}

.blog-list-delete i:hover,
.press-list-delete i:hover,
.store-list-delete i:hover {
    cursor: pointer;
}

.blog-list-title, 
.press-list-title {
    width: 70%;
    text-align: center;
}

.blog-list-date,
.press-list-date {
    width: 10%;
    text-align: center;
    border-right: 1px solid #aaa;
}

.store-list-name {
    width: 30%;
}

.store-list-prix {
    width: 30%;
}

.store-list-stock {
    width: 30%;
}

.store-list-prix form,
.store-list-stock form {
    display: flex;
    flex-wrap: wrap;
}

.store-list-prix form input,
.store-list-stock form input {
    width: 70%;
}

.store-list-prix form button,
.store-list-stock form button {
    width: 30%;
    padding: 0;
    margin: 0 20px;
}


.store-list-stock input, 
.store-list-stock label {
    width: 100%;
}



/*COLLECTION*/

.collection-modal {
    display: none;

    position: fixed;
    top:15vh;
    bottom: 10vh;
    left: 10vw;
    right: 10vw;
    padding: 20px;
    background: #ededed;
    box-shadow: 0 0 5px #404040;
    z-index: 1000000;

    overflow-y: scroll;
}



.collection-modal-cat-mozaic {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
}

.collection-modal-cat-thumb {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    width: 100px;
}

.collection-modal-cat-thumb img {
    width: 100%;
    height: 94px;
}

.collection-modal-cat-thumb form {
    margin-top: 10px;
    width: 50%;
    text-align: center;
}

.fa-trash-alt,
.fa-star {
    font-size: 1.2rem;
}
.fa-star:hover {
    color: rgb(195, 197, 62);
}

.fa-trash-alt:hover {
    color: red; 
}

.collection-modal-cat-thumb i:hover {
    cursor: pointer;
}

.is-thumb-selected-true {
    border: 3px solid yellow;
}

.is-thumb-selected-false {
    border: 3px solid #0000;
}

#show-collection-modal {
    cursor: pointer;
}

#hide-collection-modal {
    position: absolute;
    right: 15px;
    top: 13px;
    font-size: 2rem;
}

#hide-collection-modal:hover {
    cursor: pointer;
}

#show-collection-modal .fa-images {
    font-size: 1.5rem;
    margin-left: 1rem;
}

/* STORE */



/*ERROR FLASH*/

.small-error-success ul,
.small-error-fail ul {
    font-size: 1rem;
    font-weight: bold;
}

.small-error-success li,
.small-error-fail li {
    font-weight: normal;
}

.small-error-success,
.small-error-fail {
    position: fixed;
    right: 10px;
    bottom: 10px;
    margin: 20px 0;
    display: block;
    width: 70%;
    padding: 2px;

    border-radius: 5px;
    border: 1px solid;
}

.small-error-success {
    background-color: rgba(140, 255, 140, 0.9);
    color: rgba(0, 50, 0, 0.7);
}

.small-error-fail {
    background-color: rgba(255, 140, 140, 0.9);
    color: rgba(50, 0, 0, 0.7);
}

.flash-message-dismiss {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 1.2rem;
}

.flash-message-dismiss:hover {
    cursor: pointer;
}

@media all and (max-width: 1200px) {
    .stock-input {
        width: 100%;
    }
    .form-grouped {
    display: block
    }

        .form-grouped div {
            width: 100%;
            display: block;
            margin: 20px 0;
        }

    .collection-modal {
        display: none;

        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left:0;
    }
    
    #hide-collection-modal {
        position: fixed;
        right: 30px;
        top: 13px;
    }

    .small-error-success,
    .small-error-fail {
        display: block;
        width: 90%;
        margin: auto;
        position: fixed;
        bottom: 10px;
        padding: 2px;

        border-radius: 5px;
        border: 1px solid;
    }
    
    .store-list-name {
        width: 100%;
    }
    .store-list-prix,
    .store-list-stock {
        width: 40%;
    }
    .store-list-delete {
        width: 20%;
    }
    .store-list-prix form input,
    .store-list-stock form input {
        font-size: 0.8rem;
        margin-bottom: 10px;
        text-align: center;
        width: 100%;
    }

    .store-list-prix form button,
    .store-list-stock form button {
        width: 100%;
        padding: 0;
        margin: 0 20px;
    }

    .blog-list-delete,
    .press-list-delete,
    .store-list-delete {
        width: 20%;
    }

    .blog-list-title,
    .press-list-title {
        width: 59%;
    }

    .blog-list-date,
    .press-list-date {
        width: 20%;
    }
}