.sidebar {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100px;
  height: calc(100vh - 75px);
}
.svg {
  position: fixed;
  width: 80%;
  margin: auto;

  opacity: 0.8;
}
.filling {
  stroke-dasharray: 1600;
  stroke-dashoffset: 1600 ;
}
@media all and (max-width: 780px){
  .sidebar{
    display: none;
  }
  .svg {
    display: none;
  }
}
