.item-cat-navigation {
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
}

/*STRIPE FORM*/
.form-part {
    display: flex;
    justify-content: space-around;
    z-index: 1000;
    width: 80%;
    padding: 20px;
    text-align: center;
    margin: auto;
}
.form-shipping {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-shipping {
    width: 50%;
}

.form-part input {
    width: 40%;
    margin: 10px;
    font-family: 'Montserrat Light';
    font-size: 1.2rem;
    background: none;
    border: none;
    border-bottom: 1px solid #aaa;
}
.form-part label {
    width: 40%;
    margin: 10px;
    font-family: 'Montserrat Light';
    font-size: 0.9rem;
    color: #AAA;
}

.form-part h2 {
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
    padding-bottom: 25px;
    text-transform: uppercase;
    font-family: 'Montserrat Light';
    font-weight: 500;
    border-bottom: 1px solid #202020;
}

.form-part button {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #202020;
    background-color: #202020;
    color: #efefef;
    font-size: 1.1rem;
    font-family: 'Montserrat Light';
}

.form-part button:hover {
    cursor: pointer;
    background-color: #efefef;
    color: #202020;
}

.StripeElement {
    margin: auto;
    width: 100%; 
    height: 40px;
    padding: 10px 12px;
    border-bottom: 1px solid #202020;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

/* MODIF BRYAN */

.container a{
    text-decoration: none;
    color: #000000;
}

.form-shipping h2,
.form-checkout h2{
    color: #b515c4;
}

.item-cat-navigation a{
    color: #000000;
}

.cart{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: #d218e2 1px solid;
    align-items: center;
}

.cart-thumb{
    width: 15%;
}
.cart-thumb img {
    width: 100%;
}
.cart-name {
    width: 30%;
    text-align: center;
}

.cart-name a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}
.cart-qty {
    width: 15%;
    text-align: center;
}
.cart-price {
    width: 15%;
    text-align: right;
}

.cart-total{
    text-align: right;
}

 /* *{
    border: 1px solid red;
}  */
