body{
    background-color: #fafafa;
    color: #000000
}

/* BASIC CSS */

.item-cat-navigation {
	display: flex;
	justify-content: space-around;
	margin-top: 1%;
}

.item-cat-navigation a {
	color: #202020;
}


.item-cat-links a:hover{
    color: rgba(255, 0, 255, 1);
}


.item-cat-presentation{
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
	text-align: justify;
}

.item-cat-presentation-thumb{
	height: 300px;
    width: 50%;
}

.item-cat-presentation-thumb img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.item-cat-presentation-content{
	padding-right: 5%;
    width: 50%;
}

.item-cat-presentation-text{
    font-size: 1.2em;
}

.item-cat-mosaic{
    display: flex;
    flex-wrap: wrap;
}

.item-cat-container{
    width: 33%;
    justify-content: space-around;
}

.item-cat-container a {
	text-decoration: none;
	color: #202020;
}

.item-cat-title-bracelet::after {
	content: '';
	position: relative;
	width: 15%;
	display: block;
	height: 5px;
	background-color: #202020;
	opacity: 0.7;
	bottom: -10px;
	border-radius: 10px;
}

/* EFFECT */

.effect-sarah-bracelet img {
	width: 100%;
	-webkit-transition: opacity 0.50s, -webkit-transform 0.50s;
	transition: opacity 0.50s, transform 0.50s;
}

.effect-sarah-bracelet figcaption {
	text-align: left;
}

.effect-sarah-bracelet h2 {
	font-family: 'Montserrat';
	position: relative;
	overflow: hidden;
	margin: 0;
}

.effect-sarah-bracelet h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
    background: #303030;
	content: '';
	-webkit-transition: -webkit-transform 0.50s;
	transition: transform 0.50s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

.effect-sarah-bracelet:hover h2::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.effect-sarah-bracelet p {
	font-size: 2rem;
	font-family: 'Montserrat';
	text-align: left;
	opacity: 0;
	-webkit-transition: opacity 0.50s, -webkit-transform 0.50s;
	transition: opacity 0.50s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

.effect-sarah-bracelet:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


@media all and (max-width: 1200px) { 
	.item-cat-presentation {
		flex-wrap: wrap;
	}

	.item-cat-presentation-thumb {
		width: 100%;
	}

	.item-cat-presentation-thumb img {
		width: 100%;
	}

	.item-cat-presentation-content {
		width: 100%;
	}

	.item-cat-container {
		width: 100%;
	}
}