.collection-head {
    padding-bottom: 50px;
    border-bottom: 1px solid white;
}
.collection-head-thumb {
    width: 100%;
    height: 90vh;
    opacity: 0.8;
    filter: grayscale(40%);

    background-image: url('../images/collection_thumbs/collection-head-para.jpg');
    background-position: 50% 0px;
    background-size: cover;

}
.collection-head-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    padding: 3rem 2.5rem;
     
    font-size: 3rem;
    font-family: 'Montserrat Extra Light';
    font-weight: 200;
    
    border: 1px solid white;
}

.collection-head-title span {
    padding: 1rem 1.5rem;
}

.collection-carousels {
    padding-top: 50px;
    position: relative;
    height: 85vh;
}
.collection-carousels img {
    padding: 0 5px;
}
.carousel-nav {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    height: 20vh;
}
.carousel-nav img {
    height: 20vh;
}

.carousel-sec {
    height: 63vh;
}
.carousel-sec img {
    height: 63vh;
}
