.collection-head {
    position: relative;
}
.collection-head-thumb {
    width: 100%;
    opacity: 0.8;
}
    .collection-head-thumb img {
        width: 100%;
    }

.collection-head-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    padding: 3rem 2.5rem;
     
    font-size: 3rem;
    font-family: 'Montserrat Extra Light';
    font-weight: 200;
    
    border: 1px solid white;
}

.collection-head-title span {
    padding: 1rem 1.5rem;
}

.collection-cat-head {
    width: 100%;
    position: relative;
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px solid #ededed;
}

.collection-cat-thumb {
    opacity: 0.7;
    filter: grayscale(70%);
    width: 40%;
    margin: auto;
}

.collection-cat-thumb img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 2px solid white;
}

.collection-cat-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 1.5rem 1.25rem;

    font-size: 2rem;
    font-family: 'Montserrat Extra Light';
    font-weight: 200;

    border: 1px solid white;
}

.collection-mozaic {
    padding-top: 50px;
}

.collection-cat-mozaic {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.collection-cat-item {
    width: 25%;
    overflow: hidden;
    z-index: 2;
}
.collection-cat-item img {
    width: 100%;
    transform: scale(1);
    transition-duration: 500ms;
    filter: grayscale(60%);
}
.collection-cat-item img:hover {
    transition-duration: 500ms;
    transform: scale(1.07);
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    filter: grayscale(0%);
}

.collection-fullscreen {
    display: none;

    position: fixed;
    top: 5vh;
    bottom: 5vh;
    left: 15vw;
    right: 15vw;
    z-index: 100000;

    overflow: hidden;
}

.collection-fullscreen img {
    width: 100%;
}

.fullscreen-brightness-remove {
    display: none;
    position: fixed;
    top: 50px;
    right: 30px;

    color: white;
    font-size: 3rem;

    z-index: 100000;
}

.fullscreen-brightness-remove:hover {
    cursor: pointer;
}

@media all and (max-width: 1000px) {
    .collection-cat-mozaic {
        width: 80%;
    }

    .collection-cat-item {
        width: 50%;
    }

    .collection-cat-thumb {
        width: 60%;
    }
}


@media all and (max-width: 680px) {
    .collection-cat-mozaic {
        width: 100%;
    }

    .collection-cat-item {
        width: 100%;
    }
    .collection-cat-thumb {
        width: 80%;
    }
}