/*Craft*/

.intro {
    font-style: italic;
    color: rgba(240, 240, 240, 0.8);
}

.article {
    text-align: justify;
    width: 80%;
    margin-top: 50px;
    padding-left: 50px;

    display: flex;
    justify-content: space-around;

    font-weight: 200;
    color: white;

    text-indent: 30px;
}

.article h2 {
    width: 20%;
    margin: 10px;
    padding: 6px;

    background: #ffffff;
    border-left: 2px solid #d218e2;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #303030;

    transform: skew(-25deg);
}

.article h2 div {
    transform: skew(25deg);
}

.content {
    width: 60%;
}

.thumb-right {
    margin: auto;
    margin-left: 50px;
}

.thumb-left {
    margin: auto;
    margin-right: 50px;
}