/*Craft*/
.container {
    width: 85%;
    margin: 0;
    margin-left: 50px;
}

.craft-title {
    margin-top: 4rem;
    margin-bottom: 6rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Montserrat Light';
    font-weight: 300;
} 
    .craft-title span {
        padding: 2rem 4rem;
        border: 1px solid white;
    }

.intro {
    font-style: italic;
    color: rgba(240, 240, 240, 0.8);
}

.article {
    text-align: justify;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    padding-left: 50px;

    font-family: 'Raleway';
    font-weight: 300;
    color: white;

    text-indent: 30px;
}

.article h2 {
    width: 20%;
    margin: 10px;
    padding: 6px;

    background: #ffffff;
    border-left: 2px solid #d218e2;
    font-size: 1.2rem;
    color: #202020;

    transform: skew(-25deg);
}

.article h2 div {
    transform: skew(25deg);
}

.thumbs {
    text-indent: 0;
    width: 70%;
    margin: auto;
}

.thumbs img {
    width: 100%;
    height: auto;
}

@media all and (max-width: 780px){
    .container {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .primary {
        display: block;
        width: 100%;
    }
    .thumb-right{
        display: block;
        width: 100%;
        margin: 0px;
        padding: 0px;
        
    }
        .thumb-right img {  
            object-fit: cover;
            width: 90%;
            
        }
        .thumb-left img{
            width: 90%;
            object-fit: cover;
        }

    .thumb-left{
        display: block;
        width: 100%;
        margin: 0px;
        padding: 0px;
        
    }
    .article{
        display: block;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        margin: 0;
    }
    .article h2{
        display: block;
        width: 80%;
        margin: auto;
        margin-bottom: 1rem;
    }
    .content {
        width: 80%;
        margin: auto;   
    }
    .intro {
        width: 80%;
        margin: auto;
        margin-bottom: 1rem;
    }
}
@media all and (max-width: 1200px){
    .article{
        display: block;
        width: 100%;

    }
    .article h2{
        display: block;
        width: 100%;
    }
    .thumb-left{
        display: block;
        width: 100%;
        margin: 0%;
        padding: 0%;
    }
    
    .thumb-right{
        display: block;
        width: 100%;
        margin: 0%;
        padding: 0%;
    }
}