/*CSS for the Home page, except animations*/

.home-page {
    margin-right: 3.7%;
    margin-left: 3.7%;
    color: #ffffff;
    overflow: hidden;
}

    .presentation {
        margin-top: 2vh;
        display: flex;
    }

        .presentation-content {
            width: 70%;
            height: 40vh;
        }

        .presentation-thumb {
            width: 30%;
            height: 35vh;

            background-image: url('../images/thumb-ammo.jpg');
            animation-name: home-diaporama;
            animation-duration: 30s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: normal;

            background-size: cover;
        }

        
        .home-h1 {
            font-size: 2rem;
            font-weight: 300;
        }
        
        .home-h2 {
            width: 15%;
            margin: 10px auto;
            padding: 6px;

            text-align: center;
            background: #ffffff;
            border-left: 3px solid #d218e2;

            font-family: 'Montserrat', sans-serif;
            font-size: 1.2rem;
            color: #303030;
        
            transform: skew(-25deg);
        }

            .home-h2 div {
                transform: skew(25deg);
            }

            .home-intro {
                text-align: justify;
                padding-right: 25px;
            }

/*CSS du carousel*/

.gallery-cell { 
    width: 33%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
}

.gallery-cell img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.gallery-cell:hover {
    transition-delay: 1s;
    opacity: 0.5;
}

/*Animation*/

@keyframes home-diaporama {
    0% {
        background-image: url('../images/thumb-ammo.jpg');
    }

    12.5% {
        background-image: url('../images/thumb-ammo.jpg');
    }

    25% {
        background-image: url('../images/thumb-forge.jpg');
    }

    37.5% {
        background-image: url('../images/thumb-forge.jpg');
    }

    50% {
        background-image: url('../images/Francois-Ghys.jpg');
    }

    62.5% {
        background-image: url('../images/Francois-Ghys.jpg');
    }

    75% {
        background-image: url('../images/thumb-military.jpg');
    }

    87.5% {
        background-image: url('../images/thumb-military.jpg');
    }
}