/*CSS for the Home page, except animations*/
@import url('https://fonts.googleapis.com/css?family=Calligraffitti|EB+Garamond');


.home-page {
    margin-right: 3.7%;
    margin-left: 3.7%;
    color: #ffffff;
    overflow: hidden;
}

    .presentation {
        margin-top: 2vh;
        display: flex;
    }

        .presentation-content {
            width: 70%;
            height: 40vh;
        }

        .presentation-thumb {
            width: 30%;
            height: 35vh;

            background-image: url('../images/thumb-ammo.jpg');
            animation-name: home-diaporama;
            animation-duration: 30s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: normal;

            background-size: cover;
        }

        
        .home-h1 {
            font-size: 2rem;
            font-weight: 300;
        }
        
        .home-h2 {
            width: 15%;
            margin: 10px auto;
            padding: 6px;

            text-align: center;
            background-color: #ededed;
            border-left: 3px solid #d218e2;

            font-family: 'Montserrat', sans-serif;
            font-size: 1.2rem;
            color: #303030;
        
            transform: skew(-25deg);
        }

            .home-h2 div {
                transform: skew(25deg);
            }

            .home-intro {
                font-family: 'Montserrat',
                sans-serif;
                font-weight: 100;
                font-size: 1.1rem;
                text-indent: 2rem;
                text-align: justify;
                padding-right: 25px;
            }   
                .home-intro strong {
                    font-weight: 400;
                }
                .home-intro p {
                    margin: 0;
                }
                .intro-signature {
                    padding-top: 1rem;
                    text-align: left;
                    font-family: 'Calligraffitti', sans-serif;
                    font-size: 1.7rem;
                }

/*CSS du carousel*/

.gallery-cell { 
    width: 33%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;

    position: relative;
    overflow: hidden;
}

.gallery-cell img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition-duration: 800ms;
    transition-delay: 200ms;
}

.gallery-cell-body{
    text-align: right;
    background-color: white;
    color: #303030;
    font-weight: 700;
    font-size: 1.2rem;
    height: 50px;
    padding: 10px;
    transform: translateY(0px);
    opacity: 0.9;
    transition-duration: 800ms;
    transition-delay: 200ms;
}

.gallery-cell:hover .gallery-cell-thumb{
    filter: grayscale(100%) brightness(50%);
    transition-duration: 800ms;
    transition-delay: 200ms;
}

.gallery-cell:hover .gallery-cell-body {
    transform: translateY(-50px);
    box-shadow: 0 0 12px black;
    transition-duration: 800ms;
    transition-delay: 200ms;
}

/*Animation*/

@keyframes home-diaporama {
    0% {
        background-image: url('../images/thumb-ammo.jpg');
    }

    12.5% {
        background-image: url('../images/thumb-ammo.jpg');
    }

    25% {
        background-image: url('../images/thumb-forge.jpg');
    }

    37.5% {
        background-image: url('../images/thumb-forge.jpg');
    }

    50% {
        background-image: url('../images/Francois-Ghys.jpg');
    }

    62.5% {
        background-image: url('../images/Francois-Ghys.jpg');
    }

    75% {
        background-image: url('../images/thumb-military.jpg');
    }

    87.5% {
        background-image: url('../images/thumb-military.jpg');
    }
}