.home-page {
    color: #202020;
}

    .presentation {
        margin-top: 2vh;
        
        display: flex;
        align-items: center;
    }

        .presentation-content {
            width: 70%;
        }

        .presentation-thumb {
            width: 30%;
        }

        .presentation-thumb img {
            width: 100%;
        }
        .home-h1 {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 1.5rem;
            text-transform: uppercase;
        }
        .home-h2 {
            font-family: 'Montserrat';
            font-weight: 400;
        }
        
        .home-h2 {
            width: 15%;
            margin: 50px auto 20px auto;
            padding: 6px;

            text-align: center;
            background-color: #202020;
            border-left: 5px solid #db1702;

            font-size: 1.2rem;
            color: #ededed;
        
            transform: skew(-25deg);
        }

            .home-h2 div {
                transform: skew(25deg);
            }

            .home-intro {
                font-family: 'Raleway';
                font-weight: 400;
                font-size: 1rem;
                text-indent: 2rem;
                text-align: justify;
                padding-right: 25px;
            }   
                .home-intro strong {
                    font-family: 'Raleway';
                    font-weight: 700;
                }
                .home-intro p {
                    margin: 0;
                }
                .intro-signature {
                    padding-top: 1rem;
                    text-align: left;
                    font-size: 1.7rem;
                }

/*CSS du carousel*/

.gallery-cell { 
    width: 33%;
    height: 200px;
    margin-right: 10px;
    background: #ededed;
    counter-increment: gallery-cell;

    position: relative;
    overflow: hidden;
}

.gallery-cell img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition-duration: 800ms;
    transition-delay: 200ms;
}

.gallery-cell-body{
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: #808080;
    font-weight: 700;
    font-size: 1.2rem;
    height: 50px;
    padding: 10px 20px;
    transform: translateY(0px);
    opacity: 0.9;
    transition-duration: 800ms;
    transition-delay: 200ms;
}

.gallery-cell:hover .gallery-cell-thumb{
    filter: grayscale(100%) brightness(70%);
    transition-duration: 800ms;
    transition-delay: 200ms;
}

.gallery-cell:hover .gallery-cell-body {
    transform: translateY(-50px);
    box-shadow: 0 0 12px #505050;
    transition-duration: 800ms;
    transition-delay: 200ms;
}

.gallery-cell-body-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

@media all and (max-width: 1200px) {
    .presentation-content {
        width: 50%;
    }
    .presentation-thumb {
        width: 50%;
    }
}


@media all and (max-width: 780px){
    
    .presentation {
        display: block;
    }
    .presentation-content {
        margin-bottom: 30px;
        width: 100%;
        height: auto;
        display: block;
    }
    .presentation-thumb {
        display: block;
        width: 100%;
    }
    .gallery-cell{
        width: 100%;
    }
    
    .home-h2 {
        width: 30%;
        margin: 30px auto;
    }
    
}

@media all and (max-width: 480px) {
    .home-h2 {
        width: 50%;
        margin: 30px auto;
    }
}