.home-page {
    color: #ffffff;
}

    .presentation {
        margin-top: 2vh;
        display: flex;
    }

        .presentation-content {
            width: 70%;
            height: 40vh;
        }

        .presentation-thumb {
            width: 30%;
            height: 35vh;

            background-image: url('../images/home/Francois-Ghys.jpg');
            
            animation-duration: 30s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: normal;

            background-size: cover;
            opacity: 0.8;
        }

        .home-h1, .home-h2 {
            font-family: 'Montserrat';
            font-weight: 400;
        }
        .home-h1 {
            font-size: 1.8rem;
        }
        
        .home-h2 {
            width: 15%;
            margin: 10px auto;
            padding: 6px;

            text-align: center;
            background-color: #ededed;
            border-left: 3px solid #d218e2;

            font-size: 1.2rem;
            color: #202020;
        
            transform: skew(-25deg);
        }

            .home-h2 div {
                transform: skew(25deg);
            }

            .home-intro {
                font-family: 'Raleway Extra Light';
                font-weight: 200;
                font-size: 1.1rem;
                text-indent: 2rem;
                text-align: justify;
                padding-right: 25px;
            }   
                .home-intro strong {
                    font-family: 'Raleway';
                    font-weight: 400;
                }
                .home-intro p {
                    margin: 0;
                }
                .intro-signature {
                    padding-top: 1rem;
                    text-align: left;
                    font-family: 'Calligraffitti';
                    font-size: 1.7rem;
                }

/*CSS du carousel*/

.gallery-cell { 
    width: 33%;
    height: 200px;
    margin-right: 10px;
    background: #202020;
    counter-increment: gallery-cell;

    position: relative;
    overflow: hidden;
}

.gallery-cell img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition-duration: 800ms;
    transition-delay: 200ms;
}

.gallery-cell-body{
    text-align: right;
    background-color: white;
    color: #202020;
    font-weight: 700;
    font-size: 1.2rem;
    height: 50px;
    padding: 10px;
    transform: translateY(0px);
    opacity: 0.9;
    transition-duration: 800ms;
    transition-delay: 200ms;
}

.gallery-cell:hover .gallery-cell-thumb{
    filter: grayscale(100%) brightness(50%);
    transition-duration: 800ms;
    transition-delay: 200ms;
}

.gallery-cell:hover .gallery-cell-body {
    transform: translateY(-50px);
    box-shadow: 0 0 12px black;
    transition-duration: 800ms;
    transition-delay: 200ms;
}

@media all and (max-width: 780px) {

    .presentation {
        display: block;
    }
    .presentation-content {
        width: 100%;
        height: auto;
        display: block;
    }
    .presentation-thumb {
        display: block;
        width: 100%;
    }
}