body {
    background-color: #f6f6f6;
    color: #202020;
}

.product {
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-thumb {
    width: 45%;
    border: 3px solid #808080;
}

    .product-thumb img {
        width: 100%;
    }

.product-cart {
    width: 45%;
}

    .product-title {
        display: flex;
        justify-content: space-between;
    }

    .product-variation select {
        width: 100%;
        height: 6vh;
        margin-bottom: 5vh;

        color: #202020;
        font-size: 1.2rem;

        background: #f6f6f6;
        border: 3px solid #808080;
    }

    .product-desc {
        text-align: justify;
        margin-bottom: 5vh;
    }

    .product-buy {
        width: 40%;
        margin: auto;
        text-align: center;
    }
    .product-buy-button {
        padding: 10px;
        
        background-color: #202020;
        color: #f6f6f6;
        font-size: 1.2rem;

        border: none;
        border-radius: 50px;
        border: 3px solid #202020;
    }

        .product-buy-button:hover {
            background-color: #f6f6f6;
            color: #202020;
            cursor: pointer;
            border: 3px solid #808080; 
        }