@import url('https://fonts.googleapis.com/css?family=Calligraffitti|Montserrat:100,200,300,400,700|Raleway:200,300,400');


body {
  background-color: #202020;
  margin: 0;
  padding: 0;
  height: 100vh;

  font-size: 1rem;
  font-family: 'Raleway';
  font-weight: 300;
  overflow-X: hidden;
  overflow-y: scroll;
  color: #ededed;
  line-height: 1.5rem;
}

.container {
  width: 90%;
  margin: auto;
}

.fullscreen-brightness {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.4;
  z-index: 10000;
}

@media all and (max-width: 780px) {
  .container {
    width: 90%; 
  }
}