@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400, 700');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300');

body {
  background-color: #303030;
  margin: 0;
  padding: 0;
  height: 100vh;

  font-size: 1rem;
  font-family: 'Raleway';
  font-weight: 300;
  overflow-X: hidden;
  color: #fff;
}