@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400, 700');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300');

body {
  background-color: #303030;
  margin: 0;
  padding: 0;
  height: 100vh;

  font-size: 1rem;
  font-family: 'Raleway';
  font-weight: 300;
  overflow-X: hidden;
  color: #fff;
}

/*Navigation*/

.nav-fix {
  height: 10vh;
}

#navigation {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;

  display: flex;
  align-items: center;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 1.2rem;
  color: white;

  background-color: #303030;

  transform: skew(-25deg) scale(1.05);
}

#navigation span {
  transform: skew(25deg) scale(0.95);
}

.right-nav,
.left-nav {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.right-nav {
  width: 80%;

  color: #303030;
  background-color: #ededed;
}

.right-nav a {
  text-decoration: none;
  color: #303030;
}

.right-nav a:hover {
  font-weight: 700;
}

#purple {
  font-weight: 700;
}

#purple:hover {
  color: #d218e2;
}

.left-nav {
  width: 20%;
  background-color: #303030;
  border-right: 4px solid #d218e2;
}

.logo {
  width: 40%;
  transform: skew(25deg) scale(0.95);
}

/*HOME PAGE*/
.defil-container {
  width: 100%;
  height: 6vh;
  position: relative;
  padding-top: 10px;
}

.defil {
  font-size: 1.2rem;
  position: absolute;
  display: inline-block;
  animation-name: marquee;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
  white-space: nowrap;
  transform: translateX(100vw);
}

@keyframes marquee {
  to {
    transform: translateX(-110%);
  }
}


.home-page {
  margin-right: 3.7%;
  margin-left: 3.7%;
  color: #ffffff;
  margin-top: 0px;
}

.presentation {
  display: flex;
}

.presentation-content {
  width: 70%;
  height: 40vh;
}

.presentation-thumb {
  margin-top: 5vh;
  width: 30%;
  height: 40vh;

  background-image: url('../images/thumb-ammo.jpg');
  animation-name: home-diaporama;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;

  background-size: cover;
}

@keyframes home-diaporama {
  0% {
    background-image: url('../images/thumb-ammo.jpg');
  }

  12.5% {
    background-image: url('../images/thumb-ammo.jpg');
  }

  25% {
    background-image: url('../images/thumb-forge.jpg');
  }

  37.5% {
    background-image: url('../images/thumb-forge.jpg');
  }

  50% {
    background-image: url('../images/Francois-Ghys.jpg');
  }

  62.5% {
    background-image: url('../images/Francois-Ghys.jpg');
  }

  75% {
    background-image: url('../images/thumb-military.jpg');
  }

  87.5% {
    background-image: url('../images/thumb-military.jpg');
  }
}

.home-h1 {
  font-size: 2rem;
  font-weight: 300;
}

.home-h2 {
  width: 15%;
  margin: 10px auto;
  padding: 6px;

  text-align: center;
  background: #ffffff;
  border-left: 2px solid #d218e2;

  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: #303030;

  transform: skew(-25deg);
}

.home-h2 div {
  transform: skew(25deg);
}

.home-intro {
  text-align: justify;
  padding-right: 25px;
}


.gallery-cell {
  width: 25%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

.gallery-cell img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/*Craft*/

.intro {
  font-style: italic;
  color: rgba(240, 240, 240, 0.8);
}

.article {
  text-align: justify;
  width: 80%;
  margin-top: 50px;
  padding-left: 50px;

  display: flex;
  justify-content: space-around;

  font-weight: 200;
  color: white;

  text-indent: 30px;
}

.article h2 {
  width: 20%;
  margin: 10px;
  padding: 6px;

  background: #ffffff;
  border-left: 2px solid #d218e2;

  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: #303030;

  transform: skew(-25deg);
}

.article h2 div {
  transform: skew(25deg);
}

.content {
  width: 60%;
}

.thumb-right {
  margin: auto;
  margin-left: 50px;
}

.thumb-left {
  margin: auto;
  margin-right: 50px;
}

/*Page news*/

.main-news{
  float: left;
  padding-right: 5%;
  margin-top: -5px;
}
.main-news img {
  height: 250px;
  padding-left: 0%;
  display: inline-block;
}
.news{
  display: flex;
  justify-content:flex-start;
  align-items:stretch;
}  
.press{
  width:70%;
  padding: 25px;
}
.blog{
  margin-top: 3%;
  width:30%;
  padding: 25px;
} 


.accordion {

background-color: #303030;
color: white;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
transition: 0.4s;
}

.active, .accordion:hover {
background-color: #282828; 
}

.panel {
padding: 0 18px;
display: none;
background-color: #303030;
overflow: hidden;
max-width: 100%;
}

.accordion:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 9px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

/*page news*/