* {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
/*CSS for the navigation part*/

.nav-fix {
    height: 42px; /*Fix pour compenser la hauteur de la nav-bar qui est en fix*/
}

#navigation {
    position: fixed;
    top: 0;
    left: -5%;
    height: 42px;
    width: 110%;
    z-index: 1000;
    
    display: flex;
    align-items: center;
    
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1rem;
    color: #ededed;
    
    background-color: #202020;
    
    /*Donne l'effet penché au menu*/
    -webkit-transform: skew(-25deg);
    transform: skew(-25deg);
}

.left-nav span,
.right-nav span,
.resp-nav span {
    transform: skew(25deg);
    -webkit-transform: skew(25deg);
    /*On inverse l'effet penché pour que le texte reste droit*/
}


.right-nav,
.left-nav,
.resp-nav {
    height: 100%;
    
    display: flex;
    align-items: center;
    
}

.right-nav, 
.left-nav {
    justify-content: space-evenly;
}

.resp-nav {
    justify-content: end;
    text-align: right;
}

    .left-nav {
        display: flex;
        justify-content: center;
        width: 20%;
        background-color: #202020;
        border-right: 4px solid #d218e2;
    }

        .logo {
            width: 90px;
            margin-top: 10px;
        }

    .right-nav {
            width: 80%;

            color: #202020;
            background-color: #ededed;
        }

            .right-nav a {
                text-decoration: none;
                color: #202020;
            }

            .right-nav a:hover {
                font-weight: 700;
            }

            #purple {
                font-weight: 700;
            }
            
            #purple:hover {
                color: #d218e2;
            }
            
            .fab {
                font-size: 1.8rem;
                color: #202020;
                margin-right: 1vw;
            }
            .fa-pinterest-p:hover,
            .fa-instagram:hover {
                cursor:pointer;
            }
            .fa-pinterest-p {
                margin-left: 1vw;
            }
            .fa-pinterest-p:hover {
                color: rgb(167, 43, 43);
            }

            .fa-instagram:hover {
                color: #d6617b;
            }


.resp-nav {
    display: none;
    justify-content: center;;
    width: 80%;

    color: #202020;
    background-color: #ededed;
}

    .resp-nav a {
        margin-right: 2rem;

        text-decoration: none;
        color: #202020;
    }

    .resp-nav a i {
        font-size: 1.7rem;
        line-height: 42px;
    }

.logo-resp {
    display: none;
}

#display-resp-nav-sidebar,
#hide-resp-nav-sidebar {
    display: none;
    position: absolute;
    top: 0;
    right:10px;
    font-size: 2.5rem;
    z-index: 1000000;
}
#display-resp-nav-sidebar:hover,
#hide-resp-nav-sidebar:hover {
    cursor: pointer;
}
#display-resp-nav-sidebar {
    color: #303030;
}
#hide-resp-nav-sidebar {
    color: #ededed;
}
.resp-nav-sidebar {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    padding-right: 30px;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;

    background-color: #202020;
    text-align: center;
    
    z-index: 100000;
}
.resp-nav-sidebar a {
    margin: 20px;
    padding-right: 10px;

    font-size: 1.5rem;
    text-decoration: none;
    color: #ededed;
    font-family: "Montserrat Light";
    border-right: 1px solid #ededed;
}
@media all and (max-width: 780px) {
    .logo-resp {
        display: block;
        width: 90px;
        margin-top: 10px;
    }
    .logo {
        display: none;
    }
    .resp-nav {
        display: flex;
    }
    .left-nav{
        width: 30%;
    }
    .right-nav {
        display: none;
    }
    .resp-nav {
        width: 70%;
    }

    #display-resp-nav-sidebar {
        display: block;
    }

    .fab {
        color: #ededed;
        margin-right: 30px;
    }

    .fa-pinterest-p:hover {
        color: inherit;
    }

    .fa-instagram:hover {
        color: inherit;
    }
}

@media all and (max-width: 480px) {
    #navigation {
        font-size: 0.7rem;
    }
    .logo-resp {
        width: 70px;
    }
}