#navigation {
    box-shadow: 0 0 10px #808080;
}
.right-nav {
    background-color: #303030;
}
    .right-nav a {
        color: #dcdcdc;
    }
    .fab {
        color: #dcdcdc;
    }
.left-nav {
    background-color: #ededed;
}