/*On inverse la couleur du body*/
body {
    background-color: #f6f6f6;
    color: #202020;
}

/*On inverse les couleurs de la navbar*/
#navigation {
    box-shadow: 0 0 10px #808080;
}
.right-nav,
.resp-nav {
    background-color: #202020;
}
    .right-nav a,
    .resp-nav a {
        color: #dcdcdc;
    }
    .fab, 
    .fab {
        color: #dcdcdc;
    }
.left-nav {
    background-color: #ededed;
}

#display-resp-nav-sidebar {
    color: #ededed;
}
#cart {
    color: white;
    font-size: 2rem;
}
