/*On inverse la couleur du body*/
body {
    background-color: #f2f2f2;
    color: #202020;
}

/*On inverse les couleurs de la navbar*/
#navigation {
    box-shadow: 0 0 10px #808080;
}
.right-nav,
.resp-nav {
    background-color: #202020;
}
    .right-nav a,
    .resp-nav a {
        color: #f2f2f2;
    }
    .fab, 
    .fab {
        color: #f2f2f2;
    }
.left-nav {
    background-color: #f2f2f2;
}

#display-resp-nav-sidebar {
    display: none;
    color: #f2f2f2;
}

@media all and (max-width: 780px) {
    #display-resp-nav-sidebar {
        display: block;
        color: #f2f2f2;
    }
}