/*Page news*/

.news-page {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.pagination-link {
    font-size: 1.2rem;
    padding:0 10px;
    border: none;
    background: #202020;
    color: #ededed;
}
.pagination-link:hover {
    border-bottom: 1px solid #ededed;
    cursor: pointer;
}
    .blog-section {
        width: 65%;
    }

        .main-blog {
            text-indent: 2rem;
            text-align: justify;
        }
        .main-blog-title {
            margin-bottom: 15px;
            text-align: center;
            font-family: 'Montserrat Thin';
            font-weight: 300;
            font-size: 2rem;
        }

        .main-blog-date {
            padding-bottom: 20px;
            text-align: center;
            font-family: 'Montserrat Light';
            font-size: 0.9rem;

            border-bottom: 1px solid #ededed;
        }

        .main-blog-thumb {
            display: block;
            width: 70%;
            margin: auto;
            margin-bottom: 50px;
        }

        .main-blog-small {
            font-family: "Raleway Extra Light";
            font-style: italic;
        }

        .main-blog-subtitle {
            font-family: 'Montserrat Extra Light';
            font-weight: 300;
            font-size: 2rem;
        }

        .main-blog-content {
            font-family: "Raleway Extra Light";
        }

        .old-blog-title {
            background-color: #202020;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 1.1rem;
            font-family: 'Montserrat Extra Light';
            font-weight: 200;
            transition: 0.4s;
        }

        .active,
        .old-blog-title:hover {
            background-color: #282828;
        }

        .panel {
            padding: 20px 18px;
            display: none;
            background-color: #202020;
            overflow: hidden;
            max-width: 100%;
            border-bottom: 1px solid white;
        }

        .old-blog-title:after {
            content: '\02795'; /* Unicode character for "plus" sign (+) */
            font-size: 9px;
            color: #777;
            float: right;
            margin-left: 5px;
        }

        .active:after {
            content: "\2796"; /* Unicode character for "minus" sign (-) */
        }

        .panel a {
            display: block;
            color: #ededed;
            text-align: right;
        }

    .press-section {
        width: 25%;
        padding: 25px;
        border-left: 1px solid white;
    }

    .press-title {
        font-family: 'Montserrat';
        font-weight: 400;
    }

    

    .press-content {
        font-family: 'Raleway Light';
        font-weight: 300;
        text-indent: 1.5rem;
        text-align: justify;
    }

    .press-link {
            font-family: 'Raleway Light';
            font-weight: 300;
            font-size: 0.9rem;
            text-align: right;
    }

        .press-link a {
            color: #ededed;
        }

    .press-signature {
        padding-bottom: 1rem;
        font-family: "Montserrat Extra Light";
        font-weight: 200;
        font-style: oblique;
        border-bottom: 1px solid white;
    }
    @media all and (max-width: 780px){
        .news-page{
            display: block;
        }
        .blog-section {
            display: block;
            width: 100%;
        
        }
        .press-section{
            display: block;
            width: 100%;
            border-left: none;
            padding: 0px;
        }
}


