/*Page news*/

.news-page {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.pagination-link {
    font-size: 1.2rem;
    padding:0 10px;
    border: none;
    background: #202020;
    color: #ededed;
}
.pagination-link:hover {
    border-bottom: 1px solid #ededed;
    cursor: pointer;
}
    .blog-section {
        width: 65%;
    }

        .main-blog {
            text-indent: 2rem;
            text-align: justify;
        }
        .main-blog-title {
            margin-bottom: 15px;
            text-align: center;
            font-family: 'Montserrat';
            font-weight: 100;
            font-size: 2rem;
        }

        .main-blog-date {
            padding-bottom: 20px;
            text-align: center;
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 0.9rem;

            border-bottom: 1px solid #ededed;
        }

        .main-blog-thumb {
            display: block;
            width: 70%;
            margin: auto;
            margin-bottom: 50px;
        }

        .main-blog-small {
            font-size: 1rem;
            font-family: "Raleway";
            font-weight: 300;
            font-style: italic;
        }

        .main-blog-subtitle {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 1.8rem;
        }

        .main-blog-content {
            font-family: "Raleway";
            font-weight: 200;
        }

        

    .press-section {
        width: 25%;
        padding: 25px;
        border-left: 1px solid white;
    }

    .press-title {
        font-family: 'Montserrat';
        font-weight: 400;
    }

    

    .press-content {
        font-family: 'Raleway';
        font-weight: 300;
        text-indent: 1.5rem;
        text-align: justify;
    }

    .press-link {
            font-family: 'Raleway';
            font-weight: 300;
            font-size: 0.9rem;
            text-align: right;
    }

        .press-link a {
            color: #ededed;
        }

    .press-signature {
        padding-bottom: 1rem;
        font-family: "Montserrat";
        font-weight: 200;
        font-style: oblique;
        border-bottom: 1px solid white;
    }
    @media all and (max-width: 780px){
        .news-page{
            display: block;
        }
        .blog-section {
            display: block;
            width: 100%;
        
        }
        .press-section{
            display: block;
            width: 100%;
            border-left: none;
            padding: 0px;
        }
}


