/*Page news*/

.news-page {
    display: flex;
    justify-content: space-evenly;
}

    .blog-section {
        width: 70%;
        padding: 25px;
    }

        .main-blog {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

            border-bottom: 1px solid white;
        }
        .main-blog-title {
            font-size: 1.5rem;
        }
        .main-blog-small {
            width: 100%;
            font-style: italic;
            font-weight: 200;
        }
        .main-blog-content {
            width: 60%;
        }
        .main-blog-thumb {
            width: 35%;
        }
        .main-blog-thumb img {
            width: 100%;
        }
        .main-blog-subtitle {
            text-indent: 2rem;
            width: 100%;
            text-align: left;
        }
        .accordion {
            background-color: #303030;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
        }

        .active,
        .accordion:hover {
            background-color: #282828;
        }

        .panel {
            padding: 0 18px;
            display: none;
            background-color: #303030;
            overflow: hidden;
            max-width: 100%;
        }

        .accordion:after {
            content: '\02795'; /* Unicode character for "plus" sign (+) */
            font-size: 9px;
            color: #777;
            float: right;
            margin-left: 5px;
        }

        .active:after {
            content: "\2796"; /* Unicode character for "minus" sign (-) */
        }


    .press-section {
        width: 30%;
        margin: 15px;
        padding: 25px;
        border-left: 1px solid white;
    }


