*,
*:after,
*:before {
    box-sizing: border-box;
    filter: blur(0);
    -webkit-filter: blur(0);
}

body {
    background-color: #f6f6f6;
}

.store-tiles {
    position: relative;
    margin: 0 auto;
    padding: 1rem 0 4rem;
    text-align: center;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.store-tiles figure {
    position: relative;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 48%;
    text-align: center;
    cursor: pointer;
}

.store-tiles figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 1
}

.store-tiles figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: bold;
}

.store-tiles figure figcaption::before,
.store-tiles figure figcaption::after {
    pointer-events: none;
}

.store-tiles figure figcaption,
.store-tiles figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.store-tiles figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.store-tiles figure h2 {
    font-weight: 300;
}

.store-tiles figure h2 span {
    font-weight: 800;
}

.store-tiles figure h2,
.store-tiles figure p {
    margin: 0;
}

.store-tiles figure p {
    font-size: 0.8rem;
    font-weight: bold;
}

@media screen and (max-width:50em) {
    .store-tiles figure {
        display: inline-block;
        float: none;
        margin: 10px auto;
        width: 100%;
    }
}

/* CSS FOR HOVER EFFECT */

.effect-apollo {
    font-family: 'Montserrat';
    box-shadow: 0 0 10px #808080;
}
figure.effect-apollo.blue-apollo p {
    border-right: 4px solid rgba(0, 0, 255, 1);
}
figure.effect-apollo.purple-apollo p {
    border-right: 4px solid rgba(255, 0, 255, 1);
}
figure.effect-apollo.orange-apollo p {
    border-right: 4px solid rgba(230, 100, 0, 1);
}
figure.effect-apollo.red-apollo p {
    border-right: 4px solid rgba(255, 0, 0, 1);
}
figure.effect-apollo.blue-apollo {
    background: rgba(0, 0, 255, 0.2);
}
figure.effect-apollo.purple-apollo {
    background: rgba(255, 0, 255, 0.2);
}
figure.effect-apollo.orange-apollo {
    background: rgba(230, 100, 0, 0.2);
}
figure.effect-apollo.red-apollo {
    background: rgba(255, 0, 0, 0.2);
}

figure.effect-apollo img {
    opacity: .95;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
}

figure.effect-apollo figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    -webkit-transition: -webkit-transform .6s;
    transition: transform .6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, -7
    deg) translate3d(0, -100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, -70deg) translate3d(0, -100%, 0);
}

figure.effect-apollo p {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 3em;
    padding: 0 1em;
    max-width: 150px;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity .35s;
    transition: opacity .35s;
}

figure.effect-apollo h2,
figure.effect-apollo p {
    padding: 3px;
    text-align: left;
    font-weight: 400;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

figure.effect-apollo:hover img {
    opacity: .6;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

figure.effect-apollo:hover figcaption::before {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, -70deg) translate3d(0, 100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, -70deg) translate3d(0, 100%, 0) perspective(1px);
}

figure.effect-apollo:hover p {
    opacity: 1;
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
}

/*Page Bracelet*/

.item-cat-navigation{
    display: flex;
    justify-content: space-around;
}
.main-bracelet{
    width: 400px;
}

.bracelet{
    width: 200px;
}

.item-cat-mosaic{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;  
}

.item-tile{
    margin: 1.5rem ;
}

body{
    /* background-color: #000000; */
}
 


.bracelet:hover{
 
}