*,
*:after,
*:before {
    box-sizing: border-box;
    filter: blur(0);
    -webkit-filter: blur(0);
}

 /* *{
    border: 1px solid red;
} */


body {
    background-color: #f6f6f6;
}

.store-tiles {
    position: relative;
    margin: 0 auto;
    padding: 1rem 0 4rem;
    text-align: center;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.store-tiles figure {
    position: relative;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 48%;
    text-align: center;
    cursor: pointer;
}

.store-tiles figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 1
}

.store-tiles figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: bold;
}

.store-tiles figure figcaption::before,
.store-tiles figure figcaption::after {
    pointer-events: none;
}

.store-tiles figure figcaption,
.store-tiles figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.store-tiles figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.store-tiles figure h2 {
    font-weight: 300;
}

.store-tiles figure h2 span {
    font-weight: 800;
}

.store-tiles figure h2,
.store-tiles figure p {
    margin: 0;
}

.store-tiles figure p {
    font-size: 0.8rem;
    font-weight: bold;
}

@media screen and (max-width:50em) {
    .store-tiles figure {
        display: inline-block;
        float: none;
        margin: 10px auto;
        width: 100%;
    }
}

/* CSS FOR HOVER EFFECT */

.effect-apollo {
    font-family: 'Montserrat';
    box-shadow: 0 0 10px #808080;
}
figure.effect-apollo.blue-apollo p {
    border-right: 4px solid rgba(0, 0, 255, 1);
}
figure.effect-apollo.purple-apollo p {
    border-right: 4px solid rgba(255, 0, 255, 1);
}
figure.effect-apollo.orange-apollo p {
    border-right: 4px solid rgba(230, 100, 0, 1);
}
figure.effect-apollo.red-apollo p {
    border-right: 4px solid rgba(255, 0, 0, 1);
}
figure.effect-apollo.blue-apollo {
    background: rgba(0, 0, 255, 0.2);
}
figure.effect-apollo.purple-apollo {
    background: rgba(255, 0, 255, 0.2);
}
figure.effect-apollo.orange-apollo {
    background: rgba(230, 100, 0, 0.2);
}
figure.effect-apollo.red-apollo {
    background: rgba(255, 0, 0, 0.2);
}

figure.effect-apollo img {
    opacity: .95;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
}

figure.effect-apollo figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    -webkit-transition: -webkit-transform .6s;
    transition: transform .6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, -7
    deg) translate3d(0, -100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, -70deg) translate3d(0, -100%, 0);
}

figure.effect-apollo p {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 3em;
    padding: 0 1em;
    max-width: 150px;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity .35s;
    transition: opacity .35s;
}

figure.effect-apollo h2,
figure.effect-apollo p {
    padding: 3px;
    text-align: left;
    font-weight: 400;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

figure.effect-apollo:hover img {
    opacity: .6;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

figure.effect-apollo:hover figcaption::before {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, -70deg) translate3d(0, 100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, -70deg) translate3d(0, 100%, 0) perspective(1px);
}

figure.effect-apollo:hover p {
    opacity: 1;
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
}

/*Page Bracelet*/


.item-cat-presentation{
    border: 1px solid red;
}

.item-cat-navigation{
    display: flex;
    justify-content: space-around;
}
.main-bracelet{
    width: 400px;
}
.item-cat-presentation-content{
    display: flex;
    border: 1px solid red;
}

.item-cat-presentation-content>img{
    height: 0%;
    border: 1px solid red;
}

.item-cat-mosaic{
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
}

.item-cat-container{
    width: 33%;
    height: 20rem;
    justify-content: space-around;
}



p, h1{
    color: #000000
}

h1{
    margin-left: 55rem;
}



.item-tile{
    margin: 1.5rem ;
} 


*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }


a {
	color: #4f7f90;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #39545e;
}

section {
	padding: 1em;
	text-align: center;
}

/* Header */
.codrops-header {
	margin: 0 auto;
	padding: 4em 1em;
	text-align: center;
}

.codrops-header h1 {
	margin: 0;
	font-weight: 800;
	font-size: 4em;
	line-height: 1.3;
}

.codrops-header h1 span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 45%;
	font-weight: 300;
	color: #7e959d;
}

/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 1px;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Related demos */

.related a img {
	max-width: 100%;
	opacity: 0.8;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
}

@media screen and (max-width: 25em) {

	.codrops-header {
		font-size: 75%;
	}

	.codrops-icon span {
		display: none;
	}

}


/* Common style */

.grid figure figcaption {
	padding: 2em;
	color: #000000;
	text-transform: uppercase;
	font-size: 1em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}


/*------------------------*/
/***** effect "sarah" *****/
/*------------------------*/


figure.effect-sarah img {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-sarah figcaption {
	text-align: left;
}

figure.effect-sarah h2 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}

figure.effect-sarah h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #d218e2;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.effect-sarah:hover h2::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

figure.effect-sarah:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}