*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    background-color: #f6f6f6;
}

.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center
}

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 48%;
    background: #3085a3;
    text-align: center;
    cursor: pointer
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: .8
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none
}

.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300
}

.grid figure h2 span {
    font-weight: 800
}

.grid figure h2,
.grid figure p {
    margin: 0
}

.grid figure p {
    letter-spacing: 3px;
    font-size: 68.5%
}

@media screen and (max-width:50em) {
    .grid figure {
        display: inline-block;
        float: none;
        margin: 10px auto;
        width: 100%
    }
}

/* css APOLLO */

.effect-apollo {
    font-family: 'Montserrat';
    box-shadow: 0 0 10px #808080;
}
figure.effect-apollo.blue-apollo p {
border-right: 4px solid rgba(0, 0, 255, 1);
}
figure.effect-apollo.purple-apollo p {
border-right: 4px solid rgba(255, 0, 255, 1);
}
figure.effect-apollo.orange-apollo p {
border-right: 4px solid rgba(230, 100, 0, 1);
}
figure.effect-apollo.red-apollo p {
border-right: 4px solid rgba(255, 0, 0, 1);
}
figure.effect-apollo.blue-apollo {
    background: rgba(0, 0, 255, 0.2);
}
figure.effect-apollo.purple-apollo {
    background: rgba(255, 0, 255, 0.2);
}
figure.effect-apollo.orange-apollo {
    background: rgba(230, 100, 0, 0.2);
}
figure.effect-apollo.red-apollo {
    background: rgba(255, 0, 0, 0.2);
}

figure.effect-apollo img {
    opacity: .95;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1)
}

figure.effect-apollo figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    -webkit-transition: -webkit-transform .6s;
    transition: transform .6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0)
}

figure.effect-apollo p {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 3em;
    padding: 0 1em;
    max-width: 150px;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity .35s;
    transition: opacity .35s
}

figure.effect-apollo h2,
figure.effect-apollo p {
    padding: 3px;
    text-align: left;
    font-weight: 400;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

figure.effect-apollo:hover img {
    opacity: .6;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
}

figure.effect-apollo:hover figcaption::before {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0)
}

figure.effect-apollo:hover p {
    opacity: 1;
    -webkit-transition-delay: .1s;
    transition-delay: .1s
}
