@import url('https://fonts.googleapis.com/css?family=VT323');

* {
  box-sizing: border-box;
}
body{
    background-color: #202020;
}

  
  .title{
    font-weight: 500;
    font-size: 2rem;
  }
  
  .ticket-container {
    margin: auto;
    width: 30%;
    background-color: white;
    filter: opacity(80%);
    box-shadow: 0 -5px 2px #20202040;
    border-bottom: 3px dotted #202020;

    font-family: 'VT323',
    monospace;
    font-size: 1.2rem;
    text-align: center;
    color: black;
    overflow: hidden;
  }

  .ticket-container a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #20202050;
  }
  
  .ticket {
    width: 100%;
    height: 101%;
  }
  .payement-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    width: 30%;
    height: 100px;
    background-color: white;
    filter: opacity(80%);
    border-top: 3px dotted #202020;
    transform: rotate(20deg) translateY(80px);
    font-family: 'VT323',
    monospace;
    font-size: 3rem;
    text-align: center;
    color: black;
  }
  .payement-button {
    width: 100%;
    transform: translateY(-2px);
  }

  
  @media all and (max-width: 1200px) {
    .ticket-container {
      width: 40%;
    }

    .payement-button-container {
      width: 40%;
    }
  }

  @media all and (max-width: 780px) {
    .ticket-container {
      width: 80%;
    }

    .payement-button-container {
      width: 80%;
    }
  }