@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400, 700');

body {
  background-color: #303030; 
  margin: 0;
  padding: 0;
}

#animation {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

#a, #k, #t {
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    
    font-size: 21rem;
    opacity: 0;
}
#a {
    left: 30%;
    animation-name: opacity;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: .5s;
}
#k {
    left: 45%;
    animation-name: opacity;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
}
#t {
    left: 60%;
    animation-name: opacity;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}

#jewels {
    position: fixed;
    top: 45.5%;
    left: 62%;
    transform: rotate(-90deg) scale(0);
    
    font-size: 3rem;
    letter-spacing: 0.5rem;
    opacity: 0;
    animation: opacity 1s linear 0.7s forwards, scale 0.5s linear 0.7s forwards, hidethis 1s linear 0.7s forwards;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes scale {
    from {
        transform:rotate(-90deg) scale(0);
    }
    to {
        transform:rotate(-90deg) scale(1);
    }
}

@keyframes hidethis {
    from {
        display: inline;
    }
    to {
        display: none;
    }
}