* {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.welcome-popup {
    position: fixed;
    width: calc(100% + 100px);
    height: 150px;
    left: -50px;
    bottom: 0px;
    box-sizing: border-box;

    display: none;
    justify-content: space-around;

    background-color: #EFEFEF;
    box-shadow: 0 0 12px black;

    z-index: 10000000000000000;

    -webkit-transform: skew(-25deg);
    transform: skew(-25deg);

}

.welcome-popup div div,
.welcome-popup div form,
.dismiss {
    -webkit-transform: skew(25deg);
    transform: skew(25deg);
}
.dismiss {
    position: absolute;
    top: 10px;
    right: 120px;
    color: #EFEFEF;
}
.dismiss:hover {
    cursor: pointer;
}
.rgpd-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    width: 70%;
    padding-left: 5%;
}

    .rgpd-content {
        width: 90%;
        margin: auto;
        margin-bottom: 25px;

        text-indent: 2rem;
        font-size: 1rem;
    }

    .rpg-buttons {
        width: 100%;
    }

    .rgpd-button {
        padding: 5px 15px;
        margin: 10px;

        border: 2px solid #db1702;
        border-radius: 20px;
    }

    .rgpd-button:first-child {
        background-color: #db1702;
    }
    .rgpd-button:last-child {
        border: 2px solid #101010;
        background-color: #101010;
    }

    .rgpd-button:first-child:hover {
        background-color: #EFEFEF;
    }

    .rgpd-button:last-child:hover {
        background-color: #202020;
    }

    .rgpd-buttons a {
        cursor: pointer;
        color: white;
        text-decoration: none;
    }

.newsletter-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    width: 30%;

    border-left: 5px solid #db1702;
    background-color: #202020;
    padding-right: 5%;
}

    .newsletter-content {
        width: 70%;
        margin: auto;
        margin-bottom: 25px;

        font-size: 1rem;
        font-weight: 600;
        color: #EFEFEF;
    }

    .newsletter-flash {
        font-size: 0.8rem;
        font-weight: 600;
        color: #db1702;
    }

    .newsletter-side input {
        padding: 10px 15px;
        margin: 10px;

        border: none;
        border-radius: 20px;
        background-color: #EFEFEF;
        color: #202020;
    }

    .newsletter-side button {
        padding: 10px 13px;
        margin: 10px;

        border: none;
        border-radius: 20px;
        background-color: #db1702;

        color: #efefef;
        font-size: 1rem;
    }

    .newsletter-side a {
        color: #db1702;
    }

.newsletter-side-resp {
    display: none;
}

@media all and (max-width: 1200px) {

    .newsletter-side-resp {
        display: block;
    }

    .dismiss {
        top: 5px; 
        right: 5px;
        color: #efefef;
    }
    .newsletter-side {
        display: none;
    }

    .welcome-popup {
        transform: none;
        width: 100%;
        height: 175px;
        left: 0;
    }

    .welcome-popup div div,
    .welcome-popup div form,
    .dismiss {
        transform: none;
    }
    .rgpd-side {
        width: 100%;
    }

    .rgpd-content {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .newsletter-side-resp {
        padding-bottom: 10px;
        font-size: 0.8rem;
    }

        .newsletter-side-resp a {
            color: #db1702;
        }
}