/*AUTH*/
* {
    box-sizing: border-box;
}
body {
    background-color: #202020;
}
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 100%;
}

.auth-form {
    width: 30%;
}

.auth-input,
.auth-button {
    height: 40px;
    margin: 20px 0;
    width: 100%;

    background-color: #202020;
    border: 1px solid #efefef;
    color: #efefef;
    font-size: 1.3rem;
    font-family: 'Montserrat Light';
    text-align: center;
}

.auth-button:hover {
    background-color: #efefef;
    border: 1px solid #efefef;
    color: #202020;

}

.back {
    display: block;
    text-align: center;
    color: #808080;
}

/*ERROR FLASH*/

.small-error-success ul,
.small-error-fail ul {
    font-size: 1rem;
    font-weight: bold;
}

.small-error-success li,
.small-error-fail li {
    font-weight: normal;
}

.small-error-success,
.small-error-fail {
    position: fixed;
    right: 10px;
    bottom: 10px;
    margin: 20px 0;
    display: block;
    width: 70%;
    padding: 2px;

    border-radius: 5px;
    border: 1px solid;
}

.small-error-success {
    background-color: rgba(140, 255, 140, 0.9);
    color: rgba(0, 50, 0, 0.7);
}

.small-error-fail {
    background-color: rgba(255, 140, 140, 0.9);
    color: rgba(50, 0, 0, 0.7);
}

.flash-message-dismiss {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 1.2rem;
}

.flash-message-dismiss:hover {
    cursor: pointer;
}